page-landing {
  .content{
      background-image: linear-gradient(360deg, rgba(135, 135, 135, 0) 0%, #878787 4%) !important;
  }

  .toppart_landing{
    padding-bottom:15px;
    background-image:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url(../assets/imgs/clean-sky-wallpaper.jpg);
     background-size: cover;
  }
  
    .rectangle-5 {
        background-color: #D8D8D8;
        border-radius: 14px;
        opacity: 0.5820878623188406;
        height: 5.5rem;
      }

      .rectangle-5_copy {
        background-color: #D8D8D8;
        border-radius: 14px;
        height: 5.5rem;
      }

      .rectangle {
        background-color: #FFFFFF;
        border-radius: 14px;
        padding:10px;
        color: rgba(0, 0, 0, 0.30000001192092896);
        font-family: Helvetica;
      }
      .rectangle_color{
        color: #000000;
        font-family: Helvetica;
        background-color: #FFFFFF;
        border-radius: 14px;
        padding:10px;
   }
      .ioncardstyle{
          border-radius: 0px;
          box-shadow: none;
          background: none;
      }
      .fill-162 {
        background-color: #000000;
        width: 18.75px;
        height: 25px;
      }

      .rectangle-6 {
        background-image: linear-gradient(180deg, #FCF9B3 0%, #F6DD02 100%);
        border-radius: 14px;
        box-shadow: -1px 1px 0 0 #C9B602, 1px -1px 0 0 #FCF89A;
        opacity: 0.3019134963768116;
        color: #000000;
        font-size: 20px;
        
      }

      .rectangle-6_copy{
        background-image: linear-gradient(180deg, #FCF9B3 0%, #F6DD02 100%);
        border-radius: 14px;
        box-shadow: -1px 1px 0 0 #C9B602, 1px -1px 0 0 #FCF89A;
        color: #000000;
        font-size: 20px;
      }

      .rectangle-2-copy {
        background-image: linear-gradient(180deg, #FCF9B3 0%, #F6DC01 100%);
        color: #000000;
      }
      .rectangle-2 {
        background-image: linear-gradient(180deg, #FFFFFF 0%, #EFEFEF 100%);
        color: #000000;
      }

      // news article styling

      

      .newsarticles{
        padding-left: 5px;
        padding-right:2px;
        padding-top:10px;
        img {
            width: 130px;
            height:80px;
        }
 
        .item{
          background: transparent !important;
          margin-bottom: -30px !important;
          padding-bottom:5px !important;
          margin-top:-5px !important;
        }

        p{
        margin: 0;
        padding: 0;
        }

       .fadeline{
          margin-top: 20px;
          margin-bottom:15px;
          height: 1.5pt;
          background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#fff), to(black));
        }

      .currentdate{
        font-weight: normal;
        font-stretch: normal;
        font-size: 12px;
        font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
        word-spacing: normal;
        color: #F4F5F6;
        padding-left:13px;
        padding-bottom:5px;
      }

      .currenttitle{
        font-weight: normal;
        font-stretch: normal;
        font-size: 16px;
        font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
        word-spacing: normal;
        color: #F4F5F6;
        padding-right:3px;
        padding-left:13px;
      }

      .currentdescription{
        font-weight: normal;
        font-stretch: normal;
        font-size: 15px;
        font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
        word-spacing: normal;
        color: #F4F5F6;
        padding-right:3px;
        padding-left:13px;
      }

    }

      

}
